@media screen and (min-width: 768px) and (max-width: 1024px) {
  .grid-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  #navbar {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 1rem;
  }
  #navbar .logo img {
    display: none;
  }
  #navbar ul {
    margin: 0;
  }
  #navbar li a {
    margin-left: 0rem;
  }
  .body-about {
    overflow: scroll;
    min-height: 100%;
  }
  #about-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    padding: 1rem;
  }
  #about-content .about-personal {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #about-content img {
    margin-top: 2rem;
  }
  #about-content .vertical-line {
    display: none;
  }
  #about-content .email {
    margin-bottom: 2rem;
  }
  #about-content .about-text {
    padding: 0 5rem;
  }
  #about-content .about-text .disable-mobile {
    display: none;
  }
  #about-content .about-text .disable-tablet {
    display: none;
  }
  #project-content p {
    max-width: 90%;
    text-align: center;
    margin: 0.3rem 0;
  }
  #project-content img {
    width: 90vw;
  }
  .body-contact #contact-content .form {
    margin-top: 2rem;
  }
  .body-contact #contact-content .form h2 {
    font-size: 4rem;
  }
  .body-contact #contact-content form {
    width: 500px;
    margin: auto;
  }
}

@media only screen and (min-width: 250px) and (max-width: 767px) {
  .grid-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin: 0 1rem;
  }
  #navbar {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 1rem;
  }
  #navbar .logo img {
    display: none;
  }
  #navbar ul {
    margin: 0;
  }
  #navbar li a {
    margin-left: 0rem;
  }
  .body-about {
    overflow: scroll;
    height: 100%;
  }
  #welcome h1 {
    font-size: 1.5rem;
  }
  #welcome h3 {
    font-size: 1rem;
  }
  #about-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    padding: 1rem;
  }
  #about-content .about-personal {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #about-content .vertical-line {
    display: none;
  }
  #about-content .email {
    margin-bottom: 2rem;
  }
  #about-content .about-text .disable-mobile {
    display: none;
  }
  #project-content h1 {
    font-size: 2.25rem;
  }
  #project-content p {
    max-width: 90%;
    text-align: center;
    margin: 0.3rem 0;
    font-size: 0.9rem;
  }
  #project-content img {
    width: 90vw;
  }
  .body-contact #contact-content {
    margin-top: 1rem;
    overflow: hidden;
  }
  .body-contact #contact-content .form form {
    width: 250px;
    margin: auto;
  }
  .body-contact #contact-content .form h2 {
    font-size: 3rem;
    margin-top: 1rem;
  }
}
/*# sourceMappingURL=mobile.css.map */